.root {
    -fx-font-family: "${ui-font-family}";
    -fx-font-size: ${ui-font-size};
}

.code-area, .monospaced-font {
    -fx-font-family: "${text-font-family}";
    -fx-font-size: ${text-font-size};
}

.tab-pane {
    -fx-open-tab-animation: NONE;
    -fx-close-tab-animation: NONE;
}

.cp-index-hyper-link {
    -fx-border-color: transparent;
    -fx-underline: false;
}

.scroll-bar:vertical {
    -fx-pref-width: 20;
    /*-fx-padding: 3;*/
}

.scroll-bar:horizontal {
    -fx-pref-height: 20;
    /*-fx-padding: 3;*/
}