.root {
    -fx-font-family: ${ui-font-family};
    -fx-font-size: ${ui-font-size};
}

.text-area, .code-area {
    -fx-font-family: ${text-font-family};
    -fx-font-size: ${text-font-size};
}

.tab-pane {
    -fx-open-tab-animation: NONE;
    -fx-close-tab-animation: NONE;
}